.card-tumpul{
    border-radius:10px;
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
    border-color: #1abc9c;
    border-width: 2px;
}
.MuiInputLabel-root{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin-right: 100px;
}
.MuiFormControlLabel-label{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.judul{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    margin: 0px;
    color :white;
}
.card-header{
    padding: 15px 20px;
    background-color: #1abc9c;
}
.login-button{
    background-color: #1abc9c;
    color: white;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 500;
}
.login-button:hover{
    background-color: #008066;

}
.register-button{
    background-color: #e74c3c;
    color: white;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 500;
    margin-top:-20px;
}
.register-button:hover{
    background-color: #b41200;

}
.divider{
    position: relative;
    text-align: center;
    top:-35px;
}
.divider span {
    background-color:white;
    font-family: 'Poppins', sans-serif;
    padding: 5px 20px;
}