.register{
    background-color: #e74c3c;
    color: white;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 500;
    margin-top:10px;
    margin-bottom:10px;
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
    border-color: #e74c3c;
    border-width: 2px;
}
.register:hover{
    background-color: #b41200;
}
.back-login{
    color: #696969;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}